#rooms{
    height: 500px;
    width: 100%;
    background-color: white;
    margin-top: 280px;
}

  .room-items{
      display: flex;
      font-size: 40px;
      color: black;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-left: 60px;
   
  }

  #luxury{
flex-basis: 50%;
flex-grow: 0;
flex-shrink: 0;
  }
  #general-ward{
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
      }
  #super-delux{
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;

      }
  #day-care{
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
   
  }
  #emergency{
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    
  }
  #icu{
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
   
  }
 








  ul {
    margin: 0px;
    padding: 0px;
  }
  
  .footer-section-room {
    margin-top:1540px;
  background: #EAE479;
  position: relative;
  }
  .footer-ctar {
  border-bottom: 1px solid #373636;
  }
  .single-ctar i {
  color: black;
  font-size: 30px;
  float: left;
  margin-top: 8px;
  }
  .cta-textr {
  padding-left: 15px;
  display: inline-block;
  cursor: pointer;
  }
  .cta-text span:hover{
    color: #1c55ac;
    font-weight: bold;
  }
  .cta-text h4 {
  color: #1c55ac;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  }
  .cta-text span {
  color: black;
  font-size: 20px;
  }
  .footer-content {
  position: relative;
  z-index: 2;
  }
  .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
  }
  .footer-logo {
  margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 200px;
  }
  .footer-text p {
  margin-bottom: 14px;
  font-size: 20px;
      color: black;
  line-height: 28px;
  margin-left:0px;
  }
  .footer-social-icon span {
  color: #1c55ac;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  margin-left: 85px;
  }
  .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  }
  .footer-social-icon i {
    margin-left: 30px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  }
  #whatsappicon{
    background-color: #25d366;
  }
  #instagramicon{
    background:linear-gradient(45deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d);
  }
  .facebook-bg{
  background: #3B5998;
  }
  .twitter-bg{
  background: #55ACEE;
  }
  .google-bg{
  background: #DD4B39;
  }
  .footer-widget-heading h3 {
  color: #1c55ac;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  }
  .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: black;
  }
  .footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
  color: #1c55ac;
  font-weight: bold;
  }
  .footer-widget ul li a {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  text-decoration: none;
  }
  .subscribe-form {
  position: relative;
  overflow: hidden;
  }
  .subscribe-form input {
  width: 449px;
  padding: 14px 28px;
  background: #dcdcdc;
  border: 1px solid #dcdcdc;
  color: #000000;
  font-size: 20px;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #1c55ac;
    padding: 13px 20px;
    border: 1px solid #1c55ac;
    top: 0;
  
  }
  .subscribe-form button i {
  color: #fff;
  font-size: 28px;
  transform: rotate(-6deg);
  }
  .copyright-area{
  background: #202020;
  padding: 25px 0;
  }
  .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #dcdcdc;
  font-size: 20px;
  
  }
  .copyright-text p a{
  color: #EAE479;
  text-decoration: none;
  }
  .footer-menu li {
  display: inline-block;
  margin-left: 20px;
  }
  .footer-menu li:hover a{
    color: #1c55ac;
    font-weight: bold;
  }
  .footer-menu li a {
  font-size: 14px;
  color: #dcdcdc;
  font-size: 20px;
  text-decoration: none;
  }
  
  .fa-h-square{
   margin-top:0px;
   margin-left: 90px;
  }